body {
    background-color: #333333;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
    padding: 0;
    text-align: center; 
}

header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center elements horizontally */
    margin-bottom: 20px;
    position: relative;
}

.logo {
    position: absolute;
    top: 9px;
    left: 20px; /* Adjust based on your preference */
    width: 65px;
    height: auto;
    margin-right: 10px;
}

h1 {
    flex-grow: 1; /* Make the title take up the remaining space */
    text-align: center; /* Ensure the title is centered */
    font-size: 3em;
    font-weight: bold;
    font-family: 'Bitstream Vera Sans Mono', monospace; 
    margin-top: 0; 
    margin-bottom: 5px;
}

.subscript {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    margin-top: -10px; 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #FFD700; 
}

.content {
    text-align: left;
    margin-top: 20px;
}

#chartContainer {
    width: 80%;
    margin: 0 auto;
}

canvas {
    max-width: 100%;
    height: auto;
}

.center-container {
    display: flex;
    justify-content: center;
}

.box {
    background-color: rgba(38, 38, 38, 0.9);
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
}

label, input, button, p {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

input, button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

input {
    background-color: #444;
    color: #fff;
}

button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

nav {
    margin-top: 20px;
}

nav a {
    margin: 0 30px; /* Increased margin for larger gaps between buttons */
    font-size: 1.2em;
    text-decoration: none; /* Remove underline */
    color: white; /* White text color */
    padding: 5px 10px; /* Smaller padding for the buttons */
    border: 2px solid white; /* White border */
    border-radius: 5px; /* Rounded corners */
    transition: transform 0.2s, border-color 0.2s, color 0.2s; /* Smooth transition for hover effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav a:hover {
    transform: translateY(-5px); /* Move up slightly on hover */
    border-color: #FFD700; /* Change border color on hover */
    color: #FFD700; /* Change text color on hover */
}

.separator {
    border-bottom: 2px solid white; /* Changed color to white */
    margin: 20px 0;
    width: 100%; /* Make the lines go all the way to the ends of the page */
}

.underline {
    text-decoration: underline;
    cursor: pointer;
}

.underline:hover {
    color: #FFD700; 
}

.formula {
    font-size: 1.5em; 
    font-weight: bold;
    margin-bottom: 10px; 
    text-align: center; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333333;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column; /* Stack navigation links vertically */
        align-items: center; /* Center navigation links */
    }

    nav a {
        margin: 10px 0; /* Adjust margin for better spacing on mobile */
        font-size: 1em; /* Slightly smaller font size for mobile */
        width: 80%; /* Make the buttons wider */
        text-align: center; /* Center the text in the buttons */
    }

    header {
        flex-direction: column; /* Stack logo and title vertically */
        align-items: center; /* Center align items */
    }

    .logo {
        position: static; /* Remove absolute positioning for mobile */
        margin: 0 auto 10px; /* Center logo and add bottom margin */
    }

    h1 {
        font-size: 2em; /* Adjust font size for mobile */
    }
}
